{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
    <h1 class="heading-large">Check details</h1>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Repayment Due: £{{repayment}}</h2>
        </div>
        <div class="grid column-third">
        </div>
        <div class="column-two-thirds">
            <h3 class="heading-medium name-header">Bank Account Details</h3>

            <p>Please enter the bank account details where you want your repayment to be made.</p>
            <!-- Use .form-group to create spacing when wrapping label and input pairs -->
            <div class="form-group">
                <p>Account Name: {{accountName}}</p>
            </div>
            <div class="form-group">
                <p>Account Number: {{accountNumber}}</p>
            </div>
            <div class="form-group">
                <p>Sort Code: {{sortcode1}}-{{sortcode2}}-{{sortcode3}}</p>
            </div>
            <div class="form-group">
                <p>Building society roll or reference number: {{buildingsociety}}</p>
            </div>

            <a href="confirmation.html" class="button">Confirm Details and Make Payment</a>
            <p><a href="index.html">Cancel</a></p>

        </div>
    </div>

   

</div>


{{/main}}

{{/layout}}