{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
    <h1 class="heading-large">Version 2b: Pension Overpayment <br>[In Progress]</h1>
<div class="grid-row">
    <div class="column-two-thirds">
        
        <a href="/">Back</a>
        
        <p>Starting from mock start page - testing verify authentication, P800 overpayment screen (Pension overpayment) and user being asked to enter bank details.</p>
        <a class="button" href="start-page" role="button">Start Journey</a>

        <!--<a href="check-details.html" class="button">Click</a>-->
        <br><br>
        <ul>
        <li><a href="start-page">Start page mock</a></li>
            <li><a href="verify-start">Verify pages</a></li>
        <li><a href="your-overpayment">P800: overpayment</a></li>
        <li><a href="refund-and-bank-details">Repayments: enter details </a></li>
        <li><a href="refund-being-processed">Repayments: confirmation </a></li>
        </ul>

        
        
    
        
    </div>
</div>
</div>

{{/main}}

{{/layout}}