{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
   <h1 class="heading-xlarge" style="margin-bottom:0">Check your tax payments</h1>

    <div class="column-two-thirds">
     <div class="grid-row">
         <h3 class="heading-medium">Use this service to check your tax payments for the last tax year, 6 April 2014 to 5 April 2015.</h3>
         
         
         <p>
         If you're employed or you get a pension, HM Revenue and Customs (HMRC) checks whether you've paid the right amount of tax in the tax year.
         </p>
         
         <p>This service tells you whether you'll get a refund or will need to pay more tax.</p>
        <a class="button button-start" href="verify-start" role="button">Start now</a>
        

    </div>
</div>
</div>

<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your tax payments"
</script>

{{/main}}

{{/layout}}