<!DOCTYPE html>

<head>

  <title>GOV.UK prototyping kit</title>

  <link href="{{localAssets}}stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body class="verify-post-office" style="background-image: url('{{localAssets}}images/Login-Post-Office.png')">

  <div class="container">
    <div class="verify-post-office--form">
      <input type="text">
      <input type="password">
      <a href="your-overpayment">Login</a>
      <img src="{{localAssets}}images/po-form.png" alt="Post Office Log-in Form">
    </div>
  </div>

</body>
</html>