{{<layout}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="done-box">

				<h1 class="heading-large">You have claimed your refund</h1>

				<p>Allow 3 to 5 working days for the money to be paid into your bank account.</p>

			</div>

			
         <!-- <a href="/"><input class="button" type="submit"  value="Continue"></a>-->


		</div>
	</div>

</div>

<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your tax payments"
</script>


{{/main}}

{{/layout}}