{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
    <h1 class="heading-xlarge" style="margin-bottom:0">Your tax calculation</h1>
<span class="secondary-text-colour bold-xlarge">HMRC owes you £220</span>

<div class="grid-row">
    <div class="column-two-thirds">
        
        <section class="section--branded">
        <h2 class="heading-medium">6 April 2014 to 5 April 2015</h2>
             <p>
   You have paid too much tax for the last tax year.
  </p>
            
            <p>Each year we check everyone’s Pay As You Earn account to see if the correct amount of Income Tax was collected. </p>
            
            <p>We have now looked at the latest information we hold for this year and have worked out that you have paid too little tax. We provide a full calculation and explanation in your tax calculation letter.</p>
            
            <section class="table-section">
      <table>
      <colgroup><col width="56%">
     
      <col width="19%">
      </colgroup><thead>
         <tr>
            <th colspan="1">Tax payable</th>
            <th class="numeric">Amount (£)</th>
         </tr>
      </thead>
      <tbody>
        
         <tr>
            <td>Tax you have already paid</td>
           
            <td class="numeric">3,000</td>
         </tr>
          
           <tr>
            <td>Tax you should have paid</td>
         
            <td class="numeric">2,680</td>
         </tr>
          
         <tr>
            <td class="row-sum" colspan="1">Total tax HMRC owe you</td>
            <td class="numeric"><span class="heading-medium">220</span></td>
         </tr>
      </tbody>
      </table>
   </section>
        
        <h3 class="heading-medium flush--ends">What happens next</h3>
            <p>
   Claim a refund of your overpaid tax online.
  </p>
            
             <a class="button" href="refund-and-bank-details">Claim refund</a>
            
            
       <!--<br><br>
        <form method="post" action="refund-and-bank-details">
            <div class="form-group">
                <label class="form-label" for="repayment">Amount to be repaid:</label>

                <span class="heading-large">£  </span><input class="form-control" id="repayment" name="repayment"
                                                             type="text">
            </div>
            <button type="submit" class="button">Submit</button>
        </form>-->

        <!--<a href="check-details.html" class="button">Click</a>-->

    </div>
</div>

</div>

{{/main}}

{{/layout}}