{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
    <h1 class="heading-large">Other Service</h1>

    <div class="column-two-thirds">
        <form method="post" action="refund-and-bank-details">
            <div class="form-group">
                <label class="form-label" for="repayment">Amount to be repaid:</label>

                <span class="heading-large">£  </span><input class="form-control" id="repayment" name="repayment"
                                                             type="text">
            </div>
            <button type="submit" class="button">Submit</button>
        </form>

        <!--<a href="check-details.html" class="button">Click</a>-->

    </div>

</div>

{{/main}}

{{/layout}}