{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="container">
    <h1 class="heading-large">Refund and bank account details</h1>

    <div class="grid-row">
        <div class="column-two-thirds">
            <!--<h2 class="heading-large">Repayment Due: £{{repayment}}</h2>-->
        </div>
        <div class="grid column-third">
        </div>
        <div class="column-two-thirds">

            <p>Your bank, building society or credit union account details are needed so that your tax refund can be paid into it.</p>

            <div class="panel panel-border-wide">
                <p>
                    Refunds are made using Bacs, so ensure your account accepts this type of payment.
                </p>
            </div>

            <p>Repayment amount: £{{repayment}}</p>
           <!-- <form method="post" action="return review()">-->
                <form method="post" action="#" onsubmit="return review();">


                <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                <div class="form-group">
                    <label class="form-label" for="accountname">Account Name</label>
                    <span class="form-hint">As shown on your bank account statements.</span>
                    <input class="form-control" id="accountname" name="accountname" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="accountnumber">Account Number</label>
                    <input class="form-control" id="accountnumber" name="accountnumber" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="sortcodelong">Sort Code</label>
                    <input class="form-control form-control" id="sortcodelong" name="sortcode1" type="text" style="width: 100px">
                 
                </div>

                <div class="form-group">
                    <label class="form-label" for="buildingsoc">Building society roll or reference number (if applicable)</label>
                    <input class="form-control" id="buildingsoc" name="buildingsoc" type="text">
                </div>

                <!--<a href="confirmation.html" class="button">Make Payment</a>-->
                <button type="submit" class="button">Submit Details</button>
            </form>




        </div>
    </div>


    <!-- modal-wrapper start -->
    <div class="modal-wrapper">
        <div class="md-modal" id="modal-1">
            <div class="md-content">
                <span style="text-align: left;">
        <p class="md-modal-heading">Account details
          <a class="md-modal-close button-link" id="modal-close">Edit details</a></p>
        </span>
                <div>
                    <p class="modal-accountname">Account name: </p>
                    <ul>
                        <li>
                            <p class="modal-accountnumber">Account number: </p>
                        </li>
                        <li>
                            <p class="modal-sortcodelong">Sort code: </p>
                        </li>
                        
                        <li>
                            <p class="modal-buildingsoc">Building society roll or reference number: </p>
                        </li>
                    </ul>
                    <a class="button" href="confirmation">Continue</a>
                </div>
            </div>
        </div>






        <div class="md-overlay"></div>
    </div>
    <!-- modal-wrapper end -->



</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
var review = function(){
    //do something after function key word
    //alert('test message')
    
    $('.modal-wrapper').show();
    
    var accountName = $('#accountname').val();
        console.log (accountName);
  $('.modal-accountname').append(accountName);
    
    var accountNumber = $('#accountnumber').val();
        console.log (accountNumber);
  $('.modal-accountnumber').append(accountNumber);
    
    
     var sortcodelong = $('#sortcodelong').val();
        console.log (sortcodelong);
  $('.modal-sortcodelong').append(sortcodelong);
    
     var buildingsoc = $('#buildingsoc').val();
        console.log (buildingsoc);
  $('.modal-buildingsoc').append(buildingsoc);
    
    
    
     return false;
    
};
    
$(document).ready(function(){

    $('#modal-close').on('click',function(){
        $('.modal-wrapper').hide();
    });
});  
    
    



    
    
</script>



{{/main}}

{{/layout}}